@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}
/*primera tabelas*/
table.t1{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}

td.td1{
    border: 2px solid black;
    padding: 8px;    
    text-align: center; 
    /*direciona na horisontal sendo: left, center, right*/
    vertical-align: middle;
    /*direciona na vertical sondo: top, middle, bottom*/
}

/*segunda tabela*/
table.t2{
    width: 500px;
    border-collapse: collapse;
}

td, th{
    border: 2px solid black;
    padding: 10px;
}
caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}
tbody > tr.tr2:nth-child(2n){ 
    /* 
        a propriedade 'nth-child()' foi colocado para ter um efeito 'zebrado' no corpo da tabela e o (2n)> indica de quantas linha deve ter o efeio no caso 2n, contarar duas linhas e na segunda linha terar uma cor diferente para facilitar a leitura dos dasos da tabela
        no lugar de (2n) pode-se colocar 'odd' e 'even' 
        odd > inpar
        even > par
        mas também podes usar o (2n) em uma formatação diferente como
        odd > 2n-1
        even > 2n
        Quando a prpriedade 'nth-child()' quando tiver muitos dados ou/e quando as letras estiverem muito pequensa
    */
    background-color: lightgray;
}

thead, tfoot{
    background-color: gray;
}

.numero{
    text-align: right;
}

/*tesceira tabela*/

table{
    border-collapse: collapse;
    width: 300px;
}


